<div class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">User ekle</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="userAddForm">
            <div class="mb-3">
              <label for="title">User ismi</label>
              <div class="form-group">
                <input
                  type="text"
                  id="name"
                  class="form-control"
                  formControlName="name"
                  placeholder="User ismi"
                />
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-success" (click)="add()">Ekle</button>
        </div>
      </div>
    </div>
  </div>
  